nav{
    box-shadow: 0 0 0 2px;
    color: rgb(40, 45, 70)
}

.sidebar{
    height: 100vh;   
}
.navbar-brand{

    padding-top: 35px;
    padding-bottom: 15px;
}
hr{
    height: 1.2px;
    background-color: rgb(8, 8, 8);
    width: 90%;
    box-shadow: 0px 4px 10px 2px #3d0c0c;
    border-radius: 20%;
}