<nav class="sidebar navbar-expand-lg navbar-dark ">

  <ul>
    <a class="navbar-brand" routerLink="/about">Robbe DonkerTV</a>
  </ul>
  <hr>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <ul>
          <a class="nav-link" routerLink="/account" routerLinkActive="active"><i class="far fa-lg fa-user-circle"></i> Account</a>
          <a class="nav-link" routerLink="/product" routerLinkActive="active"><i class="fas fa-tags"></i> Producten</a>
          <a class="nav-link" routerLink="/cart" routerLinkActive="active"><i class="fas fa-lg fa-shopping-cart"></i> Shopping Cart</a>
      </ul>
      </div>
    </div>
    
  </nav>