<!--The content below is only a placeholder and can be replaced.-->

<mat-sidenav-container class="mat-container" >
  <mat-sidenav opened mode="side">
<!-- side nav here -->
  <app-side></app-side>
  </mat-sidenav>
  <mat-sidenav closed mode="side" position="end">
<!-- this one is closed for now -->
  </mat-sidenav>
<!-- here the body content -->
  <router-outlet></router-outlet>
</mat-sidenav-container>
