
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Webshop-primary: mat-palette($mat-indigo);
$Webshop-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Webshop-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$Webshop-theme: mat-light-theme($Webshop-primary, $Webshop-accent, $Webshop-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($Webshop-theme);

/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-container {
    background-color: #343a40!important;
    // background-image: url('./assets/penguin.jpg');
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
  }
.mat-drawer-side {
    background-color: lightcoral!important;
    box-shadow: inset -10px 0 2px -8px;
    // border-right: solid 1.2px rgb(25, 221, 156);
}
  mat-sidenav {
    width: 250px;
  }

