<div class="container">
  <div *ngIf="auth.user$ | async; then authenticated else login"></div>
    <!-- template will replace this div -->
    <ng-template #login>
      <br>
    <button  class="btn btn-outline-info" (click)="auth.googleSignin()">
      <i class="fa fa-google"></i> Connect Google
  </button>
  
  </ng-template>
  
  <ng-template #authenticated>
    <div *ngIf="auth.user$ | async as user">
        <h3>welcome {{ user.displayName }}</h3>
       
      <hr>
        <button class="btn btn-outline-info" (click)="auth.signOut()">Logout</button>
    </div>
  </ng-template>
  </div>