.container{
    color:white;
}
.btn-outline-info {
    color: white;
    border-color: lightcoral;
}
.btn-outline-info:hover {
    color: white;
    border-color: lightcoral;
    background-color: lightcoral;
}